[Desktop Entry]
Categories=AudioVideo;
Comment[zh_CN]=第三方b站客户端
Comment=Three party bilibili client.
Exec=/opt/bili_me
Icon=/opt/data/flutter_assets/assets/icon/bili
Name[zh_CN]=BiliMe
Name=BiliMe
Terminal=false
Type=Application
